<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>vue-demo</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="wap-font-scale" content="no">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.favicon %>"/>
  <meta name="format-detection" content="telephone=no">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" charset="UTF-8" type="text/css">
  <% } %>
</head>
<body>

<div id="app"></div>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" type="text/javascript" charset="UTF-8"></script>
<% } %>

</body>
</html>